<footer class="container">
    <ul>
        <li><a href="https://www.facebook.com/netflixespana/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/NetflixES/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="https://twitter.com/netflixes" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCT2UUebPuLke_BShrDh_YEA" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
    </ul>
    <p>© 1997-2023 Netflix, Inc.</p>

</footer>
