<section class="container">
    <h2>Lo más visto esta semana</h2>
  <article>
    <ul>
      <li class="number-one">
        <img src="assets/Top10/1-papel.webp" alt="La casa de papel">
      </li>
      <li class="number-two">
        <img src="assets/Top10/2-reina.webp" alt="La reina del Flow">
      </li>
      <li class="number-three">
        <img src="assets/Top10/3-titanes.webp" alt="Titanes">
      </li>
      <li class="number-four">
        <img src="assets/Top10/4-lostinspace.webp" alt="Lost in Space">
      </li>
      <li class="number-five">
        <img src="assets/Top10/7-blacklist.webp" alt="Blacklist">
      </li>
    </ul>
  </article>
</section>
