nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 50px;
        width: auto;
    }

    ul {
        display: flex;
        gap: 20px;
        list-style: none;
    }

    li img {
        width: 18px;
        height: auto;
    }
}



